__pycache__
*.png
.DS_store
Data/*
# *.txt
sky*.txt
*.xlsx
*.mplstyle
RecyclerDataProcess.prj
RecyclerDataProcess/*
RecyclerDataProcess_resources/*
cycling_data_export-tuto.ipynb
universal_format.py
work.ipynb
