__pycache__
*.png
.DS_store
*.txt
*.ipynb
*.py
*.xlsx
*.mplstyle
RecyclerDataProcess.prj
RecyclerDataProcess/PackagingLog.html
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/Info.plist
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/MacOS/setup
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/MacOS/setup.dSYM/Contents/Info.plist
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/MacOS/setup.dSYM/Contents/Resources/DWARF/setup
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/Resources/bundle.zip
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/Resources/installer.icns
RecyclerDataProcess/for_redistribution/MyAppInstaller_web.app/Contents/Resources/en.lproj/MainMenu.nib
RecyclerDataProcess/for_redistribution_files_only/run_RecyclerDataProcess.sh
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Info.plist
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/MacOS/applauncher
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/MacOS/prelaunch
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/MacOS/RecyclerDataProcess
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/membrane.icns
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess.ctf
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/About.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/About.nib/keyedobjects.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MainMenu.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MainMenu.nib/keyedobjects.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWOpenAccessoryView.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWOpenAccessoryView.nib/keyedobjects.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWSaveAccessoryView.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWSaveAccessoryView.nib/keyedobjects.nib
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.matlab/matlab.mlsettings
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.matlab/matlab.prf
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.matlab/matlabprefs.mat
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.META/manifest.xml
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/RecyclerData/dataproc.m
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/RecyclerData_21db0120-a9c0-4109-9829-25b0ef3b1ab1/token
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/compiler/Contents.m
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/compiler/ctfroot.m
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/compiler/system_dependent.m
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/local/Contents.m
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/local/matlabrc.m
RecyclerDataProcess/for_redistribution_files_only/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/local/printopt.m
RecyclerDataProcess/for_testing/mccExcludedFiles.log
RecyclerDataProcess/for_testing/run_RecyclerDataProcess.sh
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Info.plist
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/MacOS/applauncher
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/MacOS/prelaunch
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/MacOS/RecyclerDataProcess
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/membrane.icns
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess.ctf
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/About.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/About.nib/keyedobjects.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MainMenu.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MainMenu.nib/keyedobjects.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWOpenAccessoryView.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWOpenAccessoryView.nib/keyedobjects.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWSaveAccessoryView.nib/keyedobjects-101300.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/Base.lproj/MWSaveAccessoryView.nib/keyedobjects.nib
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.matlab/matlab.mlsettings
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.matlab/matlab.prf
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.matlab/matlabprefs.mat
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/.META/manifest.xml
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/RecyclerData/dataproc.m
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/RecyclerData_21db0120-a9c0-4109-9829-25b0ef3b1ab1/token
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/compiler/Contents.m
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/compiler/ctfroot.m
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/compiler/system_dependent.m
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/local/Contents.m
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/local/matlabrc.m
RecyclerDataProcess/for_testing/RecyclerDataProcess.app/Contents/Resources/RecyclerDataProcess_mcr/toolbox/local/printopt.m
RecyclerDataProcess_resources/icon.icns
